<script src="{{ asset('bundles/zcmscommentaire/js/commentaire.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/zcmscommentaire/css/commentaire.css') }}">


<section id="comments">


    <h3 class="comments-meta">Commentaires ({{count}})</h3>

    <ul class="level1 nested no-response">

        {% for commentaire in commentaires %}
        <li>
            <div class="comment " id="comment-{{ commentaire.id }}">

                <div class="comment-head">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            {% if commentaire.approuve %}
                        <div style="float: right;padding: 2px;" id="comment-admin"><button onclick="desapprouve({{ commentaire.id }},'{{ path('ZcmsCommentaireBundle_commentaire_desapprouve')}}');" class="btn danger">Depublier</button></div>  
                            {% else %}
                        <div style="float: right;padding: 2px;" id="comment-admin"><button onclick="approuve({{ commentaire.id }},'{{ path('ZcmsCommentaireBundle_commentaire_approuve')}}');" class="btn success">Publier</button></div>
                            {% endif %}
                        {% endif %}
                        <img width="50" height="50" alt="{{ commentaire.utilisateur }}" src="{{ commentaire.gravatar }}" title="{{ commentaire.utilisateur }}" class="avatar"/>			
                        <h3 class="author">{{ commentaire.utilisateur }}</h3>


                        <div class="meta">
                            <time datetime="{{ commentaire.dateCreation|date('c') }}">{{ commentaire.dateCreation|depuis }}</time>
                            | <a href="#">Profil</a>
                            | <a href="#comment-{{ commentaire.id }}" class="permalink">#</a>
                        </div>

                    </div>

                    <div class="comment-body">
                        <div class="content">{{ commentaire.commentaire }}</div>
                        <div class="reply"><a rel="nofollow" href="#">répondre</a></div>
                    </div>
                </div>
            </li>

        {% else %}

            <p>Pas de commentaire. Soyez le premier a en mettre un...</p>
{% endfor %}

            <div id="respond">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <h3 class="comments-meta">Ajouter un commentaire : </h3>
                {% render 'ZcmsCommentaireBundle:Commentaire:new' with { 'article_id': article_id } %}
            {% else %}
                    <div class="alert-message block-message info" data-alert="true">
                        <a href="#" class="close">×</a>
                        <p><strong>Login requis ! </strong>Connection requise pour poster un commentaire.</p>
                        <div class="alert-actions">
                            <a href="{{ path('fos_user_security_login') }}" class="btn small">Login</a> <a href="{{ path('ZcmsFrontendBundle_homepage') }}" class="btn small">Accueil</a>

                        </div>
                    </div>
            {% endif %}
                </div>
            </ul>
        </section>
